In [4]:
# !pip install pandas

In [2]:
import pandas as pd

In [69]:
movies = pd.read_csv("top_movies.csv")

In [60]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  100 non-null    int64
 1   Unnamed: 0    100 non-null    int64
 2   title         100 non-null    object
 3   description   100 non-null    object
 4   rating        100 non-null    float64
 5   year          100 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 4.8+ KB

In [70]:
movies

,Unnamed: 0,title,description,rating,year
0,0,The Shawshank Redemption,Two imprisoned men bond over a number of years...,9.3,1994
1,1,The Godfather,The aging patriarch of an organized crime dyna...,9.2,1972
2,2,The Dark Knight,When the menace known as the Joker wreaks havo...,9.0,2008
3,3,The Lord of the Rings: The Return of the King,Gandalf and Aragorn lead the World of Men agai...,9.0,2003
4,4,Schindler's List,"In German-occupied Poland during World War II,...",9.0,1993
...,...,...,...,...,...
95,95,2001: A Space Odyssey,After uncovering a mysterious artifact buried ...,8.3,1968
96,96,Singin' in the Rain,A silent film star falls for a chorus girl jus...,8.3,1952
97,97,Ikiru,A bureaucrat tries to find meaning in his life...,8.3,1952
98,98,Citizen Kane,Following the death of publishing tycoon Charl...,8.3,1941
99,99,M,When the police in a German city are unable to...,8.3,1931

In [87]:
for index, row in movies.iterrows():
    print("index:", int(row.iloc[0]+1))
    print("title", row.iloc[1])
    print("descrip: ", row.iloc[2])
    print("rating:", float(row.iloc[3]))
    print("year: ", int(row.iloc[4]))

index: 1
title The Shawshank Redemption
descrip:  Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.
rating: 9.3
year:  1994
index: 2
title The Godfather
descrip:  The aging patriarch of an organized crime dynasty in postwar New York City transfers control of his clandestine empire to his reluctant youngest son.
rating: 9.2
year:  1972
index: 3
title The Dark Knight
descrip:  When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.
rating: 9.0
year:  2008
index: 4
title The Lord of the Rings: The Return of the King
descrip:  Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.
rating: 9.0
year:  2003
index: 5
title Schindler's List
descrip:  In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.
rating: 9.0
year:  1993
index: 6
title The Godfather Part II
descrip:  The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.
rating: 9.0
year:  1974
index: 7
title 12 Angry Men
descrip:  The jury in a New York City murder trial is frustrated by a single member whose skeptical caution forces them to more carefully consider the evidence before jumping to a hasty verdict.
rating: 9.0
year:  1957
index: 8
title Pulp Fiction
descrip:  The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.
rating: 8.9
year:  1994
index: 9
title Fight Club
descrip:  An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.
rating: 8.8
year:  1999
index: 10
title Forrest Gump
descrip:  The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart.
rating: 8.8
year:  1994
index: 11
title The Lord of the Rings: The Two Towers
descrip:  While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the divided fellowship makes a stand against Sauron's new ally, Saruman, and his hordes of Isengard.
rating: 8.8
year:  2002
index: 12
title The Good, the Bad and the Ugly
descrip:  A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.
rating: 8.8
year:  1966
index: 13
title The Lord of the Rings: The Fellowship of the Ring
descrip:  A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.
rating: 8.8
year:  2001
index: 14
title Interstellar
descrip:  A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.
rating: 8.7
year:  2014
index: 15
title Spider-Man: Across the Spider-Verse
descrip:  Miles Morales catapults across the Multiverse, where he encounters a team of Spider-People charged with protecting its very existence. When the heroes clash on how to handle a new threat, Miles must redefine what it means to be a hero.
rating: 8.7
year:  2023
index: 16
title Inception
descrip:  A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.
rating: 8.7
year:  2010
index: 17
title Star Wars: Episode V - The Empire Strikes Back
descrip:  After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.
rating: 8.7
year:  1980
index: 18
title The Matrix
descrip:  When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence.
rating: 8.7
year:  1999
index: 19
title Goodfellas
descrip:  The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.
rating: 8.7
year:  1990
index: 20
title Oppenheimer
descrip:  The story of American scientist, J. Robert Oppenheimer, and his role in the development of the atomic bomb.
rating: 8.6
year:  2023
index: 21
title Life Is Beautiful
descrip:  When an open-minded Jewish waiter and his son become victims of the Holocaust, he uses a perfect mixture of will, humor, and imagination to protect his son from the dangers around their camp.
rating: 8.6
year:  1997
index: 22
title Saving Private Ryan
descrip:  Following the Normandy Landings, a group of U.S. soldiers go behind enemy lines to retrieve a paratrooper whose brothers have been killed in action.
rating: 8.6
year:  1998
index: 23
title Se7en
descrip:  Two detectives, a rookie and a veteran, hunt a serial killer who uses the seven deadly sins as his motives.
rating: 8.6
year:  1995
index: 24
title Terminator 2: Judgment Day
descrip:  A cyborg, identical to the one who failed to kill Sarah Connor, must now protect her ten-year-old son John from a more advanced and powerful cyborg.
rating: 8.6
year:  1991
index: 25
title City of God
descrip:  In the slums of Rio, two kids' paths diverge as one struggles to become a photographer and the other a kingpin.
rating: 8.6
year:  2002
index: 26
title The Green Mile
descrip:  The lives of guards on Death Row are affected by one of their charges: a black man accused of child murder and rape, yet who has a mysterious gift.
rating: 8.6
year:  1999
index: 27
title Spirited Away
descrip:  During her family's move to the suburbs, a sullen 10-year-old girl wanders into a world ruled by gods, witches, and spirits, and where humans are changed into beasts.
rating: 8.6
year:  2001
index: 28
title Harakiri
descrip:  When a ronin requesting seppuku at a feudal lord's palace is told of the brutal suicide of another ronin who previously visited, he reveals how their pasts are intertwined - and in doing so challenges the clan's integrity.
rating: 8.6
year:  1962
index: 29
title The Silence of the Lambs
descrip:  A young F.B.I. cadet must receive the help of an incarcerated and manipulative cannibal killer to help catch another serial killer, a madman who skins his victims.
rating: 8.6
year:  1991
index: 30
title Star Wars: Episode IV - A New Hope
descrip:  Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee and two droids to save the galaxy from the Empire's world-destroying battle station, while also attempting to rescue Princess Leia from the mysterious Darth Vader.
rating: 8.6
year:  1977
index: 31
title Seven Samurai
descrip:  Farmers from a village exploited by bandits hire a veteran samurai for protection, who gathers six other samurai to join him. As the samurai teach the peasants how to defend themselves, the village is attacked by an army of bandits.
rating: 8.6
year:  1954
index: 32
title It's a Wonderful Life
descrip:  An angel is sent from Heaven to help a desperately frustrated businessman by showing him what life would have been like if he had never existed.
rating: 8.6
year:  1946
index: 33
title One Flew Over the Cuckoo's Nest
descrip:  In the Fall of 1963, a Korean War veteran and criminal pleads insanity and is admitted to a mental institution, where he rallies up the scared patients against the tyrannical nurse.
rating: 8.6
year:  1975
index: 34
title The Intouchables
descrip:  After he becomes a quadriplegic from a paragliding accident, an aristocrat hires a young man from the projects to be his caregiver.
rating: 8.5
year:  2011
index: 35
title Django Unchained
descrip:  With the help of a German bounty-hunter, a freed slave sets out to rescue his wife from a brutal plantation-owner in Mississippi.
rating: 8.5
year:  2012
index: 36
title The Prestige
descrip:  After a tragic accident, two stage magicians in 1890s London engage in a battle to create the ultimate illusion while sacrificing everything they have to outwit each other.
rating: 8.5
year:  2006
index: 37
title Psycho
descrip:  A Phoenix secretary embezzles $40,000 from her employer's client, goes on the run and checks into a remote motel run by a young man under the domination of his mother.
rating: 8.5
year:  1960
index: 38
title Casablanca
descrip:  A cynical expatriate American cafe owner struggles to decide whether or not to help his former lover and her fugitive husband escape the Nazis in French Morocco.
rating: 8.5
year:  1942
index: 39
title City Lights
descrip:  With the aid of a wealthy erratic tippler, a dewy-eyed tramp who has fallen in love with a sightless flower girl accumulates money to be able to help her medically.
rating: 8.5
year:  1931
index: 40
title Alien
descrip:  The crew of a commercial spacecraft encounter a deadly lifeform after investigating an unknown transmission.
rating: 8.5
year:  1979
index: 41
title Rear Window
descrip:  A wheelchair-bound photographer spies on his neighbors from his Greenwich Village courtyard apartment window, and becomes convinced one of them has committed murder, despite the skepticism of his fashion-model girlfriend.
rating: 8.5
year:  1954
index: 42
title Whiplash
descrip:  A promising young drummer enrolls at a cut-throat music conservatory where his dreams of greatness are mentored by an instructor who will stop at nothing to realize a student's potential.
rating: 8.5
year:  2014
index: 43
title Modern Times
descrip:  The Tramp struggles to live in modern industrial society with the help of a young homeless woman.
rating: 8.5
year:  1936
index: 44
title Once Upon a Time in the West
descrip:  A mysterious stranger with a harmonica joins forces with a notorious desperado to protect a beautiful widow from a ruthless assassin working for the railroad.
rating: 8.5
year:  1968
index: 45
title Back to the Future
descrip:  Marty McFly, a 17-year-old high school student, is accidentally sent 30 years into the past in a time-traveling DeLorean invented by his close friend, the maverick scientist Doc Brown.
rating: 8.5
year:  1985
index: 46
title Gladiator
descrip:  A former Roman General sets out to exact vengeance against the corrupt emperor who murdered his family and sent him into slavery.
rating: 8.5
year:  1994
index: 47
title Cinema Paradiso
descrip:  A filmmaker recalls his childhood when falling in love with the pictures at the cinema of his home village and forms a deep friendship with the cinema's projectionist.
rating: 8.5
year:  1988
index: 48
title Grave of the Fireflies
descrip:  A young boy and his little sister struggle to survive in Japan during World War II.
rating: 8.5
year:  1988
index: 49
title LÃ©on: The Professional
descrip:  12-year-old Mathilda is reluctantly taken in by LÃ©on, a professional assassin, after her family is murdered. An unusual relationship forms as she becomes his protÃ©gÃ©e and learns the assassin's trade.
rating: 8.5
year:  1994
index: 50
title The Lion King
descrip:  Lion prince Simba and his father are targeted by his bitter uncle, who wants to ascend the throne himself.
rating: 8.5
year:  1994
index: 51
title The Usual Suspects
descrip:  A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup.
rating: 8.5
year:  1995
index: 52
title The Departed
descrip:  An undercover cop and a mole in the police attempt to identify each other while infiltrating an Irish gang in South Boston.
rating: 8.5
year:  1998
index: 53
title Parasite
descrip:  Greed and class discrimination threaten the newly formed symbiotic relationship between the wealthy Park family and the destitute Kim clan.
rating: 8.5
year:  2019
index: 54
title American History X
descrip:  A former neo-nazi skinhead tries to prevent his younger brother from going down the same wrong path that he did.
rating: 8.5
year:  2000
index: 55
title The Pianist
descrip:  A Polish Jewish musician struggles to survive the destruction of the Warsaw ghetto of World War II.
rating: 8.5
year:  2002
index: 56
title Avengers: Endgame
descrip:  After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.
rating: 8.4
year:  2019
index: 57
title Joker
descrip:  A mentally troubled stand-up comedian embarks on a downward spiral that leads to the creation of an iconic villain.
rating: 8.4
year:  2019
index: 58
title WALLÂ·E
descrip:  In the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind.
rating: 8.4
year:  2008
index: 59
title Oldboy
descrip:  After being kidnapped and imprisoned for fifteen years, Oh Dae-Su is released, only to find that he must find his captor in five days.
rating: 8.4
year:  2003
index: 60
title Memento
descrip:  A man with short-term memory loss attempts to track down his wife's murderer.
rating: 8.4
year:  2000
index: 61
title Coco
descrip:  Aspiring musician Miguel, confronted with his family's ancestral ban on music, enters the Land of the Dead to find his great-great-grandfather, a legendary singer.
rating: 8.4
year:  2017
index: 62
title Your Name.
descrip:  Two strangers find themselves linked in a bizarre way. When a connection forms, will distance be the only thing to keep them apart?
rating: 8.4
year:  2016
index: 63
title Avengers: Infinity War
descrip:  The Avengers and their allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.
rating: 8.4
year:  2018
index: 64
title The Dark Knight Rises
descrip:  Eight years after the Joker's reign of anarchy, Batman, with the help of the enigmatic Selina Kyle, is forced from his exile to save Gotham City from the brutal guerrilla terrorist Bane.
rating: 8.4
year:  2012
index: 65
title 3 Idiots
descrip:  Two friends are searching for their long lost companion. They revisit their college days and recall the memories of their friend who inspired them to think differently, even as the rest of the world called them "idiots".
rating: 8.4
year:  2009
index: 66
title Inglourious Basterds
descrip:  In Nazi-occupied France during World War II, a plan to assassinate Nazi leaders by a group of Jewish U.S. soldiers coincides with a theatre owner's vengeful plans for the same.
rating: 8.4
year:  2009
index: 67
title Spider-Man: Into the Spider-Verse
descrip:  Teen Miles Morales becomes the Spider-Man of his universe, and must join with five spider-powered individuals from other dimensions to stop a threat for all realities.
rating: 8.4
year:  2018
index: 68
title Capernaum
descrip:  While serving a five-year sentence for a violent crime, a 12-year-old boy sues his parents for neglect.
rating: 8.4
year:  2018
index: 69
title Witness for the Prosecution
descrip:  A veteran British barrister must defend his client in a murder trial that has surprise after surprise.
rating: 8.4
year:  1957
index: 70
title Paths of Glory
descrip:  After refusing to attack an enemy position, a general accuses the soldiers of cowardice and their commanding officer must defend them.
rating: 8.4
year:  1957
index: 71
title Amadeus
descrip:  The life, success and troubles of Wolfgang Amadeus Mozart, as told by Antonio Salieri, the contemporaneous composer who was insanely jealous of Mozart's talent and claimed to have murdered him.
rating: 8.4
year:  1984
index: 72
title The Boat
descrip:  A German U-boat stalks the frigid waters of the North Atlantic as its young crew experience the sheer terror and claustrophobic world of a submariner in World War II.
rating: 8.4
year:  1981
index: 73
title The Lives of Others
descrip:  In 1984 East Berlin, an agent of the secret police, conducting surveillance on a writer and his lover, finds himself becoming increasingly absorbed by their lives.
rating: 8.4
year:  2006
index: 74
title The Great Dictator
descrip:  Dictator Adenoid Hynkel tries to expand his empire while a poor Jewish barber tries to avoid persecution from Hynkel's regime.
rating: 8.4
year:  1940
index: 75
title Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
descrip:  An insane American general orders a bombing attack on the Soviet Union, triggering a path to nuclear holocaust that a war room full of politicians and generals frantically tries to stop.
rating: 8.4
year:  1964
index: 76
title Sunset Blvd.
descrip:  A screenwriter develops a dangerous relationship with a faded film star determined to make a triumphant return.
rating: 8.4
year:  1950
index: 77
title Come and See
descrip:  After finding an old rifle, a young boy joins the Soviet resistance movement against ruthless German forces and experiences the horrors of World War II.
rating: 8.4
year:  1985
index: 78
title Aliens
descrip:  Fifty-seven years after surviving an apocalyptic attack aboard her space vessel by merciless space creatures, Officer Ripley awakens from hyper-sleep and tries to warn anyone who will listen about the predators.
rating: 8.4
year:  1986
index: 79
title The Shining
descrip:  A family heads to an isolated hotel for the winter where a sinister presence influences the father into violence, while his psychic son sees horrific forebodings from both past and future.
rating: 8.4
year:  1980
index: 80
title High and Low
descrip:  An executive of a Yokohama shoe company becomes a victim of extortion when his chauffeur's son is kidnapped by mistake and held for ransom.
rating: 8.4
year:  1963
index: 81
title Indiana Jones and the Raiders of the Lost Ark
descrip:  Archaeology professor Indiana Jones ventures to seize a biblical artefact known as the Ark of the Covenant. While doing so, he puts up a fight against Renee and a troop of Nazis.
rating: 8.4
year:  1981
index: 82
title Apocalypse Now
descrip:  A U.S. Army officer serving in Vietnam is tasked with assassinating a renegade Special Forces Colonel who sees himself as a god.
rating: 8.4
year:  1979
index: 83
title The Hunt
descrip:  A teacher lives a lonely life, all the while struggling over his son's custody. His life slowly gets better as he finds love and receives good news from his son, but his new luck is about to be brutally shattered by an innocent little lie.
rating: 8.3
year:  2012
index: 84
title Toy Story 3
descrip:  The toys are mistakenly delivered to a day-care center instead of the attic right before Andy leaves for college, and it's up to Woody to convince the other toys that they weren't abandoned and to return home.
rating: 8.3
year:  2010
index: 85
title Requiem for a Dream
descrip:  The drug-induced utopias of four Coney Island people are shattered when their addictions run deep.
rating: 8.3
year:  2000
index: 86
title Eternal Sunshine of the Spotless Mind
descrip:  When their relationship turns sour, a couple undergoes a medical procedure to have each other erased from their memories.
rating: 8.3
year:  2004
index: 87
title Reservoir Dogs
descrip:  When a simple jewelry heist goes horribly wrong, the surviving criminals begin to suspect that one of them is a police informant.
rating: 8.3
year:  1992
index: 88
title American Beauty
descrip:  A sexually frustrated suburban father has a mid-life crisis after becoming infatuated with his daughter's best friend.
rating: 8.3
year:  1999
index: 89
title Good Will Hunting

In [59]:
# top_movies = movies.loc[:,["title", "description", "rating", "year"]]
# top_movies.to_csv("top_movies.csv")

In [67]:
# Reset the index and add 1 to existing index
# top_movies.reset_index(inplace=True)
# top_movies["id"] = top_movies.index + 1
# top_movies.iloc[39]

level_0                                                       39
index                                                         39
title                                                      Alien
description    The crew of a commercial spacecraft encounter ...
rating                                                       8.5
year                                                        1979
id                                                            40
Name: 39, dtype: object

In [64]:
na_val = top_movies.isna().sum()
na_val

title          0
description    0
rating         0
year           0
dtype: int64

In [5]:
df = pd.read_csv("original_movie_data.csv")
df = df.sort_values(by="imdb_rating", ascending=False)
df.head(10)

,index,movie_name,year_of_release,category,run_time,genre,imdb_rating,votes,gross_total
3,4.0,The Shawshank Redemption,(1994),R,142 min,Drama,9.3,"2,683,302",$28.34M
0,1.0,The Godfather,(1972),R,175 min,"Crime, Drama",9.2,"1,860,471",$134.97M
8,9.0,The Lord of the Rings: The Return of the King,(2003),PG-13,201 min,"Action, Adventure, Drama",9.0,"1,849,082",$377.85M
13,14.0,Schindler's List,(1993),R,195 min,"Biography, Drama, History",9.0,"1,357,621",$96.90M
21,22.0,12 Angry Men,(1957),Approved,96 min,"Crime, Drama",9.0,"792,729",$4.36M
10,11.0,The Dark Knight,(2008),PG-13,152 min,"Action, Crime, Drama",9.0,"2,656,768",$534.86M
11,12.0,The Godfather: Part II,(1974),R,202 min,"Crime, Drama",9.0,"1,273,349",$57.30M
28,29.0,Pulp Fiction,(1994),R,154 min,"Crime, Drama",8.9,"2,058,574",$107.93M
22,23.0,The Lord of the Rings: The Two Towers,(2002),PG-13,179 min,"Action, Adventure, Drama",8.8,"1,669,715",$342.55M
15,16.0,The Lord of the Rings: The Fellowship of the Ring,(2001),PG-13,178 min,"Action, Adventure, Drama",8.8,"1,878,557",$315.54M

In [29]:
# Drop genre column from the movies dataframe, axis=1 used for dropping a column
movies.drop(["index"], axis=1, inplace=True)
movies.sort_values(by="rating", ascending=False, axis=0, inplace=True)
movies.head(10)

,Unnamed: 0,title,description,rating,year
0,1,The Shawshank Redemption,Two imprisoned men bond over a number of years...,9.3,1994
1,2,The Godfather,The aging patriarch of an organized crime dyna...,9.2,1972
2,3,The Dark Knight,When the menace known as the Joker wreaks havo...,9.0,2008
3,4,The Lord of the Rings: The Return of the King,Gandalf and Aragorn lead the World of Men agai...,9.0,2003
4,5,Schindler's List,"In German-occupied Poland during World War II,...",9.0,1993
5,6,The Godfather Part II,The early life and career of Vito Corleone in ...,9.0,1974
6,7,12 Angry Men,The jury in a New York City murder trial is fr...,9.0,1957
7,8,Pulp Fiction,"The lives of two mob hitmen, a boxer, a gangst...",8.9,1994
8,9,Fight Club,An insomniac office worker and a devil-may-car...,8.8,1999
9,10,Forrest Gump,"The presidencies of Kennedy and Johnson, the V...",8.8,1994

In [30]:
# movies.reset_index(inplace=True)
# movies.index = movies.index+1
movies.to_csv("top_movies.csv")

In [20]:
movies.groupby("rating")["rating"].count().sort_values()

rating
8.9     1
9.2     1
9.3     1
8.8     5
9.0     5
8.7     6
8.6    14
8.3    18
8.5    22
8.4    27
Name: rating, dtype: int64

In [18]:

data = pd.read_csv("top_movies.csv")
pd.set_option('display.max_colwidth', None)
data = data.sort_values("rank")
data.iloc[10:20]

,rank,title,description,genre,rating,year
52,11,Forrest Gump,"The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart.","['Drama', 'Romance']",8.8,1994
38,12,Fight Club,An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.,['Drama'],8.8,1999
27,13,The Lord of the Rings: The Two Towers,"While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the divided fellowship makes a stand against Sauron's new ally, Saruman, and his hordes of Isengard.","['Action', 'Adventure', 'Drama']",8.8,2002
16,14,Inception,"A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.","['Action', 'Adventure', 'Sci-Fi']",8.7,2010
69,15,Star Wars: Episode V - The Empire Strikes Back,"After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.","['Action', 'Adventure', 'Fantasy']",8.7,1980
37,16,The Matrix,"When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence.","['Action', 'Sci-Fi']",8.7,1999
58,17,Goodfellas,"The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.","['Biography', 'Crime', 'Drama']",8.7,1990
0,18,Spider-Man: Across the Spider-Verse,"Miles Morales catapults across the Multiverse, where he encounters a team of Spider-People charged with protecting its very existence. When the heroes clash on how to handle a new threat, Miles must redefine what it means to be a hero.","['Animation', 'Action', 'Adventure']",8.7,2023
11,19,Interstellar,A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.,"['Adventure', 'Drama', 'Sci-Fi']",8.7,2014
74,20,One Flew Over the Cuckoo's Nest,"In the Fall of 1963, a Korean War veteran and criminal pleads insanity and is admitted to a mental institution, where he rallies up the scared patients against the tyrannical nurse.",['Drama'],8.6,1975

In [20]:
data.head(20)

,rank,title,description,genre,rating,year
48,1,The Shawshank Redemption,"Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.",['Drama'],9.3,1994
76,2,The Godfather,The aging patriarch of an organized crime dynasty in postwar New York City transfers control of his clandestine empire to his reluctant youngest son.,"['Crime', 'Drama']",9.2,1972
21,3,The Dark Knight,"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.","['Action', 'Crime', 'Drama']",9.0,2008
75,4,The Godfather Part II,"The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.","['Crime', 'Drama']",9.0,1974
87,5,12 Angry Men,The jury in a New York City murder trial is frustrated by a single member whose skeptical caution forces them to more carefully consider the evidence before jumping to a hasty verdict.,"['Crime', 'Drama']",9.0,1957
54,6,Schindler's List,"In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.","['Biography', 'Drama', 'History']",9.0,1993
26,7,The Lord of the Rings: The Return of the King,Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.,"['Action', 'Adventure', 'Drama']",9.0,2003
50,8,Pulp Fiction,"The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.","['Crime', 'Drama']",8.9,1994
31,9,The Lord of the Rings: The Fellowship of the Ring,A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.,"['Action', 'Adventure', 'Drama']",8.8,2001
79,10,"The Good, the Bad and the Ugly",A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.,"['Adventure', 'Western']",8.8,1966
52,11,Forrest Gump,"The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart.","['Drama', 'Romance']",8.8,1994
38,12,Fight Club,An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.,['Drama'],8.8,1999
27,13,The Lord of the Rings: The Two Towers,"While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the divided fellowship makes a stand against Sauron's new ally, Saruman, and his hordes of Isengard.","['Action', 'Adventure', 'Drama']",8.8,2002
16,14,Inception,"A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.","['Action', 'Adventure', 'Sci-Fi']",8.7,2010
69,15,Star Wars: Episode V - The Empire Strikes Back,"After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.","['Action', 'Adventure', 'Fantasy']",8.7,1980
37,16,The Matrix,"When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence.","['Action', 'Sci-Fi']",8.7,1999
58,17,Goodfellas,"The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.","['Biography', 'Crime', 'Drama']",8.7,1990
0,18,Spider-Man: Across the Spider-Verse,"Miles Morales catapults across the Multiverse, where he encounters a team of Spider-People charged with protecting its very existence. When the heroes clash on how to handle a new threat, Miles must redefine what it means to be a hero.","['Animation', 'Action', 'Adventure']",8.7,2023
11,19,Interstellar,A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.,"['Adventure', 'Drama', 'Sci-Fi']",8.7,2014
74,20,One Flew Over the Cuckoo's Nest,"In the Fall of 1963, a Korean War veteran and criminal pleads insanity and is admitted to a mental institution, where he rallies up the scared patients against the tyrannical nurse.",['Drama'],8.6,1975

In [21]:
import ast

In [22]:
# ast.literal_eval make genre string type to list type
movies["genre"] = movies["genre"].apply(ast.literal_eval)
movies

,rank,title,description,genre,rating,year
0,18,Spider-Man: Across the Spider-Verse,"Miles Morales catapults across the Multiverse,...","[Animation, Action, Adventure]",8.7,2023
1,32,Oppenheimer,"The story of American scientist, J. Robert Opp...","[Biography, Drama, History]",8.6,2023
2,77,Joker,A mentally troubled stand-up comedian embarks ...,"[Crime, Drama, Thriller]",8.4,2019
3,76,Avengers: Endgame,After the devastating events of Avengers: Infi...,"[Action, Adventure, Drama]",8.4,2019
4,37,Parasite,Greed and class discrimination threaten the ne...,"[Drama, Thriller]",8.5,2019
...,...,...,...,...,...,...
95,99,Citizen Kane,Following the death of publishing tycoon Charl...,"[Drama, Mystery]",8.3,1941
96,65,The Great Dictator,Dictator Adenoid Hynkel tries to expand his em...,"[Comedy, Drama, War]",8.4,1940
97,49,Modern Times,The Tramp struggles to live in modern industri...,"[Comedy, Drama, Romance]",8.5,1936
98,54,City Lights,"With the aid of a wealthy erratic tippler, a d...","[Comedy, Drama, Romance]",8.5,1931
99,100,M,When the police in a German city are unable to...,"[Crime, Mystery, Thriller]",8.3,1931

In [35]:
genre = set()
for list in movies["genre"]:
    for item in list:
        genre.add(item)

for item in genre:
    print(item)

Action
Sci-Fi
Fantasy
Crime
History
Western
Comedy
Adventure
Animation
Musical
Horror
War
Film-Noir
Music
Romance
Family
Thriller
Drama
Mystery
Biography

In [37]:
# genre = pd.DataFrame(genre)

# genre.to_csv("genre.csv", index=False)

In [38]:
genre = pd.read_csv("genre.csv")
genre

            0
0      Action
1      Sci-Fi
2     Fantasy
3       Crime
4     History
5     Western
6      Comedy
7   Adventure
8   Animation
9     Musical
10     Horror
11        War
12  Film-Noir
13      Music
14    Romance
15     Family
16   Thriller
17      Drama
18    Mystery
19  Biography

In [42]:
movie_df = pd.read_csv("movies.csv")
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            99 non-null     float64
 1   movie_name       99 non-null     object
 2   year_of_release  99 non-null     object
 3   category         99 non-null     object
 4   run_time         99 non-null     object
 5   genre            99 non-null     object
 6   imdb_rating      99 non-null     float64
 7   votes            99 non-null     object
 8   gross_total      98 non-null     object
dtypes: float64(2), object(7)
memory usage: 7.1+ KB

In [43]:
movie_df["index"] = movie_df["index"].astype(int)
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            99 non-null     int64
 1   movie_name       99 non-null     object
 2   year_of_release  99 non-null     object
 3   category         99 non-null     object
 4   run_time         99 non-null     object
 5   genre            99 non-null     object
 6   imdb_rating      99 non-null     float64
 7   votes            99 non-null     object
 8   gross_total      98 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 7.1+ KB

In [44]:
movie_df = movie_df.drop("genre", axis=1)
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            99 non-null     int64
 1   movie_name       99 non-null     object
 2   year_of_release  99 non-null     object
 3   category         99 non-null     object
 4   run_time         99 non-null     object
 5   imdb_rating      99 non-null     float64
 6   votes            99 non-null     object
 7   gross_total      98 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.3+ KB

In [45]:
movie_df

,index,movie_name,year_of_release,category,run_time,imdb_rating,votes,gross_total
0,1,The Godfather,(1972),R,175 min,9.2,"1,860,471",$134.97M
1,2,The Silence of the Lambs,(1991),R,118 min,8.6,"1,435,344",$130.74M
2,3,Star Wars: Episode V - The Empire Strikes Back,(1980),PG,124 min,8.7,"1,294,805",$290.48M
3,4,The Shawshank Redemption,(1994),R,142 min,9.3,"2,683,302",$28.34M
4,5,The Shining,(1980),R,146 min,8.4,"1,025,560",$44.02M
...,...,...,...,...,...,...,...,...
94,95,The Usual Suspects,(1995),R,106 min,8.5,"1,087,832",$23.34M
95,96,Cool Hand Luke,(1967),GP,127 min,8.1,"178,888",$16.22M
96,97,Eternal Sunshine of the Spotless Mind,(2004),R,108 min,8.3,"1,011,004",$34.40M
97,98,City Lights,(1931),G,87 min,8.5,"186,059",$0.02M
98,99,The Matrix,(1999),R,136 min,8.7,"1,916,083",$171.48M

In [29]:
best_movies = pd.read_csv("original_best_movies.csv")
best_movies = best_movies.sort_values(by="rating", ascending=False)
best_movies.iloc[100:]

Empty DataFrame
Columns: [rank, title, description, genre, rating, year]
Index: []